.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  height: auto;

  .CreatePostContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 250px;

    textarea {
      resize: none;
      width: 100%;
      border: 1px solid var(--light-gray);
      padding: 1rem;
      outline: 0;
      border-radius: 0.5rem;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }
    }

    button {
      margin: 1rem auto;
      width: 8rem;
      padding: 1rem;
      border: 0;
      background-color: var(--secundary);
      color: white;
      transition: 0.2s;

      &:hover {
        box-shadow: var(--logo-blue) 0px 2px 0px;
      }
    }
  }

  .PostContentContainer {
    width: 60%;
    height: auto;
    padding: 1rem;
    min-width: 250px;

    .LoadingContainer{
      
    }

  }
}
