@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.PostContainer {
  border-radius: 0.5rem;
  width: 100%;
  min-width: 250px;
  border: 1px solid var(--light-gray);
  padding: 1rem;
  padding-bottom: 0.25rem;
  cursor: pointer;
  transition: 0.2s;
  animation: fadeIn 0.3s;

  &.PostContainerOne {
    cursor: none;
  }

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  & + div {
    margin-top: 1rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 0.5rem;

    @media screen and (max-width: 400px) {
      justify-content: center;
      gap: 1rem;
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        span {
          font-size: 0.75rem;
          color: #3b3f45;
        }
      }

      img {
        width: 3rem;
        border-radius: 2.5rem;
      }

      p {
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .date {
      color: var(--light-gray);
    }

    .on {
      color: var(--green);
    }

    .off {
      color: var(--secundary);
    }

    .actionsHeader {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 10rem;

      svg {
        fill: var(--dark-blue);
        transition: 0.2s;
        width: 2rem;
        cursor: pointer;

        &.trash:hover {
          transition: 0.2s;
          fill: var(--secundary);
        }

        &.change:hover {
          fill: #FAC05E;
          transition: 0.2s;
        }
      }
    }
  }

  .contentOne {
    padding-top: 0.5rem;
    display: flex;
    height: 50vh;
    justify-content: center;
  }

  .content {
    padding: 0.5rem;
    display: flex;
    height: auto;
  }

  .postOne {
    height: auto;
    width: 90%;
    overflow-x: scroll;
    padding-right: 0.4rem;
    display: flex;
    align-items: stretch;

    p {
      margin: 0 auto;
      width: fit-content;
    }

    &::-webkit-scrollbar {
      width: 0.2rem;
    }
  }

  .postBody {
    width: 90%;
    display: flex;
    align-items: center;
    p {
      margin: 0 auto;
      width: fit-content;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 10%;

    div {
      display: flex;
      align-items: center;
    }

    svg {
      width: 5rem;
      min-width: 2rem;
      height: 2.5rem;
      cursor: pointer;
      transition: 0.2s;
      fill: var(--dark-blue);

      &.up path {
        transition: 0.2s;
        fill: var(--dark-blue);
      }

      &.upSelected path {
        fill: var(--green);
      }

      &.downSelected path {
        fill: var(--secundary);
      }

      &.down path {
        transition: 0.2s;
        fill: var(--dark-blue);
      }

      &.up:hover path {
        transition: 0.2s;
        fill: var(--green);
      }

      &.down:hover path {
        transition: 0.2s;
        fill: var(--secundary);
      }
    }
  }

  .footer {
    border-top: 1px solid var(--light-gray);
    height: auto;
    padding: 1rem 0.5rem 1rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
