@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=Fira+Code:wght@600&display=swap");

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
  }

  .UserContainer {
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-right: 0.1rem solid var(--light-gray);
    animation: fadeIn 0.3s;

    @media screen and (max-width: 600px) {
      width: 80%;
      border: 0;
      border-bottom: 0.1rem solid var(--light-gray);
    }

    .userInfo {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      p.userName {
        font-size: 2rem;
      }

      p {
        padding: 0.5rem 1rem;
        width: fit-content;
        font-size: 1.5rem;
        border-radius: 1.5rem;
        transition: 0.2s;
        cursor: pointer;

        &.myTopics {
          color: var(--dark-blue);

          &:hover {
            background-color: #94c2e9;
          }
        }

        &.myTopicsActive {
          color: var(--dark-blue);
          background-color: #94c2e9;
        }

        &.myLikes {
          color: var(--green);

          &:hover {
            background-color: #c3f6e9;
          }
        }

        &.myLikesActive {
          color: var(--green);
          background-color: #c3f6e9;
        }

        &.myDislikes {
          color: var(--secundary);

          &:hover {
            background-color: #ffa6ad;
          }
        }

        &.myDislikesActive {
          color: var(--secundary);
          background-color: #ffa6ad;
        }
      }

      img {
        width: 10rem;
        border-radius: 5rem;
      }
    }
  }

  .TopicsContainer {
    margin: 0.5rem;
    width: 70%;
    padding: 1rem;
    height: calc(100vh - 16vh);
    overflow-x: scroll;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    .noContent {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: fadeIn 0.3s;

      p {
        text-align: center;
        font-family: "Corinthia", cursive;
        font-size: 5rem;
      }
    }
  }
}
