@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Fira+Code:wght@600&display=swap');

.Container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  background-color: var(--secundary);
  border-bottom: var(--logo-blue) 3px solid;
  padding: 0 2rem 0 2rem;


  .logo{
    color: var(--white);
    font-size: 4rem;
    font-family: 'Corinthia', cursive;
  }

  .ActionButton{
    background-color: var(--logo-blue);
    border: 0;
    color: var(--primary);
    padding: 1rem 2rem;
    transition: 0.2s;

    &:hover{
      box-shadow: var(--primary) 0px 3px 0px;
    }
  }

  .LoggedUser{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img{
      width: 4rem;
      border-radius: 2rem;
    }

    p{
      color: var(--primary)
    }
  }
}