@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Fira+Code:wght@600&display=swap');

@keyframes fadeIn {
  0% {opacity: 0;}
  100%{opacity: 1;}
}

.Container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: var(--secundary);
  border-bottom: var(--logo-blue) 3px solid;
  padding: 0 2rem 0 2rem;

  @media screen and (max-width: 600px) {
    justify-content: center;
  }


  .logo{
    cursor: pointer;
    color: var(--white);
    font-size: 4rem;
    font-family: 'Corinthia', cursive;
  }

  .ActionButton{
    background-color: var(--logo-blue);
    border: 0;
    color: var(--primary);
    padding: 1rem 2rem;
    transition: 0.2s;
    animation: fadeIn 0.5s;

    &:hover{
      box-shadow: var(--primary) 0px 3px 0px;
    }
  }

  .LoggedUser{
    width: 20rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: fadeIn 0.5s;

    img{
      width: 4rem;
      border-radius: 2rem;
    }

    p{
      color: var(--primary)
    }
  }
}