@keyframes fadeIn {
  0% { opacity: 0; }
  50% {opacity: 0.5;}
  100% { opacity: 1; } 
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.PostContainer {
  border-radius: 0.5rem;
  width: 100%;
  min-width: 350px;
  border: 1px solid var(--light-gray);
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
  animation: fadeIn 0.3s;

  &.PostContainerOne {
    cursor: none;
  }
  
  &:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  & + div {
    margin-top: 1rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 0.5rem;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      img {
        width: 3rem;
        border-radius: 2.5rem;
      }

      p{
        transition: 0.2s;
        cursor: pointer;

        &:hover{
          text-decoration: underline;
        }
      }
    }

    .date {
      color: var(--light-gray);
    }

    .on {
      color: var(--green);
    }

    .off {
      color: var(--secundary);
    }

    .actions{
      display: flex;
      align-items: center;
      justify-content: center;

      svg{
        fill: var(--logo-blue);
        transition: 0.2s;
        width: 1.5rem;

        &.trash:hover{
          transition: 0.2s;
          fill: var(--secundary);
        }

        &.change:hover{
          fill: #EFD033;
          transition: 0.2s;
        }
      }
    }
  }

  .contentOne {
    padding-top: 0.5rem;
    display: flex;
    height: 60vh;
    justify-content: center;
  }

  .content {
    padding-top: 0.5rem;
    display: flex;
    height: auto;
  }

  .postOne {
    height: auto;
    width: 90%;
    overflow-x: scroll;
    padding-right: 0.4rem;
    display: flex;
    align-items: stretch;

    p{
      margin: 0 auto;
      width: fit-content;
    }

    &::-webkit-scrollbar {
      width: 0.2rem;
    }
  }

  .postBody {
    width: 90%;
    display: flex;
    align-items: center;
    p{
      margin: 0 auto;
      width: fit-content
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 10%;

    div {
      display: flex;
      align-items: center;
    }

    svg {
      width: 5rem;
      min-width: 2rem;
      height: 2.5rem;
      cursor: pointer;
      transition: 0.2s;
      fill: var(--logo-blue);


      &.up path{
        transition: 0.2s;
        fill: var(--logo-blue);
      }

      &.upSelected path{
        fill: var(--green);
      }

      &.downSelected path{
        fill: var(--secundary);
      }

      &.down path{
        transition: 0.2s;
        fill: var(--logo-blue);
      }

      &.up:hover path{
        transition: 0.2s;
        fill: var(--green);
      }

      &.down:hover path{
        transition: 0.2s;
        fill: var(--secundary);
      }
    }
  }
}
