.PostContainer {
  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid var(--light-gray);
  padding: 1rem;
  cursor: pointer;

  & + div {
    margin-top: 1rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 0.5rem;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      img {
        width: 3rem;
        border-radius: 2.5rem;
      }
    }

    .date {
      color: var(--light-gray);
    }

    .on {
      color: var(--green);
    }

    .off {
      color: var(--secundary);
    }

    .actions{
      svg{
        fill: black;
        transition: 0.2s;

        &:hover{
          transition: 0.2s;
          fill: var(--secundary);
        }
      }
    }
  }

  .contentOne {
    padding-top: 0.5rem;
    display: flex;
    height: 60vh;

   

  }

  .content {
    padding-top: 0.5rem;
    display: flex;
    height: auto;
  }

  .postOne {
    height: auto;
    width: 90%;
    overflow-x: scroll;
    padding-right: 0.4rem;

    &::-webkit-scrollbar {
      width: 0.2rem;
    }
  }

  .postBody {
    width: 90%;
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 10%;

    div {
      display: flex;
      align-items: center;
    }

    svg {
      width: 5rem;
      height: 2rem;
      cursor: pointer;
      transition: 0.2s;
      fill: var(--logo-blue);

      &.up path{
        transition: 0.2s;
        fill: var(--logo-blue);
      }

      &.down path{
        transition: 0.2s;
        fill: var(--logo-blue);
      }

      &.up:hover path{
        transition: 0.2s;
        fill: var(--green);
      }

      &.down:hover path{
        transition: 0.2s;
        fill: var(--secundary);
      }
    }
  }
}
